<h1>Eatery details</h1>

<table>
  <tr>
    <th>Burgers</th>

  </tr>
    <% for burger in @burgers %>
  <tr>
    <p><%= burger.name %></p>
  </tr>
  <% end %>

  <tr>
    <th>Deals</th>

  </tr>
    <% for deal in @deals %>
  <tr>
    <p><%= deal.name %></p>
  </tr>
  <% end %>


</table>