<h1>Eatery details</h1>

<h2>Burgers</h2>

<ul class="menu">
  <% for burger in @burgers %>

  <li><%= burger.name %></li>

<% end %>
</ul>

<h2>Deals</h2>

<ul class="menu">
  

  <% for deal in @deals %>

  <li><%= deal.name %></li>
  <li><%= deal.day %></li>
  <% end %>
</ul>
