<h1>Eatery details</h1>

<table>
    <th>
    <td>Burgers</td>
    </th>

    <% for burger in @burgers %>
  <tr>
    <p><%= burger.name %></p>
  </tr>
  <% end %>

    <td>Deals</td>

    <% for deal in @deals %>
  <tr>
    <p><%= deal.name %></p>
    <p><%= deal.day %></p>
  </tr>
  <% end %>


</table>