<h1>Add an eatery:</h1>

<form action="/eateries" method="POST">

<label for="eatery_name">Name: </label>
<input type="text" id="name" name="name">

  
  <input type="submit" value="Add eatery">
</form>