<h2><%= @deals.name %></h2>
<ul><%= @eatery.name %></ul>


<p><a href="/deals/<%= @deals.id %>/edit">Edit deal</a></p>

<form action="/deals/<%= @deals.id %>/delete" method="POST">
  <input type="submit" value="Delete deal">
</form>