<h1>Add a deal:</h1>

<form action="/deals" method="POST">

<label for="deal_name">Name: </label>
<input type="text" id="name" name="name">

<label for="deal_day">Day deal applies: </label>
<input type="text" id="day" name="day">

  
  <input type="submit" value="Add deal">
</form>