<form action="/burgers/<%= @burgers.id %>" method="POST">


  <label for="name">Burger: </label>
  <input type="text" { pid="name" name="name" value = "<%=@burgers.name%>">

  <select name="eatery_id" >
  <% for eatery in @eateries %>

  <option value="<%=eatery.id%>"><%=eatery.name%></option>
  <%end%>
  </select>



  <input type="submit" value="Edit burger">